*{
    padding: 0;
    margin: 0;
}
body{

height: 50px;
width: 50px;
background-color: rgb(255, 255, 255);


}

.card{
    background-color: rgb(255, 255, 255);
    height: 1000px;
    width: 1000px;
    position: relative;
    left: 100px;
    bottom: 100px;
    
    
}

.logo{
    position: relative;
    left: 100px;
    top: 200px;
}

.vr1{
    width: 3px;
            height: 150px;
            
            background-color: rgb(0, 0, 0);
            float: center;
            margin-left: 20px;
            margin-right: 20px;
            position: relative;
            left: 570px;
            top: 30px;
            
}

.vr2{
    width: 3px;
            height: 250px;
            
            background-color: rgb(0, 0, 0);
            float: center;
            margin-left: 20px;
            margin-right: 20px;
            position: relative;
            left: 585px;
            bottom: 185px;
            
            
}


.contract{
position: relative;
    bottom: 180px;
    font-size: 20px;


}

.right{
position: relative;
left: 630px;
            bottom: 220px;
            color: #240366;

}

.name{
    position: relative;
    bottom: 200px;
    margin-top: 2px;
    padding-top: 2px;
    font-size: 20px;
    
}

.phone{
    position: relative;
    left: 1px;
                top: 15px;
                color: #240366;
    

}

.phone > a{
text-decoration: none;
color: #240366;

}

.p1{
    position: relative;
    top: 4px;
}

.mail{
    position: relative;
    left: 1px;
                top: 19px;
                color: #240366;

}

.p2{
    position: relative;
    top:4px;



}

.mail > a{
    text-decoration: none;
    color: #240366;
    
    }

    .web > a{
        text-decoration: none;
        color: #240366;
        
        }


        .web{
            position: relative;
            left: 1px;
                        top: 23px;
                        color: #240366;
        
        }
        
.p3{
    position: relative;
    top: 5px;



}

.location{
    position: relative;
    left: 1px;
                top: 27px;
                color: #240366;

}

.p4{
    position: relative;
    top: 5px;



}

.location > a{
    text-decoration: none;
    color: #240366;
    
    }

    .last{

        display: flex;
        

height: 100px;
width: 1000px;
position: relative;
bottom: 300px;
left: 300px;
letter-spacing: 3px;
font-size: 25px;

color: #001D44;



    }

    .banner{
position: relative;
bottom: 300px;
left: 70px;


    }
